
body {
    background-color: black;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.centred {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.inner {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}